.container{
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 40px;
}
.card{
    display: flex;
    background-color: #fff;
    margin-left: 20;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}
.btn{
    display: inline-block;
    padding: 7px 5px;
    cursor: pointer;
    background: red;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    transform: scale(0.9);
}
.btn-primary{
    background-color: red;
    color: #fff;
}
span{
    color: rgb(176, 20, 20);
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}
.grid-3{
    grid-template-columns: repeat(3, 1fr);
}
.my-1{
    margin: 1rem 0;
}
.my-2{
    margin: 1.5rem 0;
}
.my-3{
    margin: 2rem 0;
}
.my-4{
    margin: 3rem 0;
}
.my-5{
    margin: 4rem 0;
}
.m-1{
    margin: 1rem;
}
.m-2{
    margin: 1.5rem;
}
.m-3{
    margin: 2rem;
}
.m-4{
    margin: 3rem;
}
.m-5{
    padding: 4rem;
}
.py-1{
    padding: 1rem 0;
}
.py-2{
    padding: 1.5rem 0;
}
.py-3{
    padding: 2rem 0;
}
.py-4{
    padding: 3rem 0;
}
.py-5{
    padding: 4rem 0;
}
.p-1{
    padding: 1rem;
}
.p-2{
    padding: 1.5rem;
}
.p-3{
    padding: 2rem;
}
.p-4{
    padding: 3rem;
}
.p-5{
    padding: 4rem;
} 